<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Petaniku</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for ('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for ('static', filename='vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{ url_for ('static', filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <!-- <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet"> -->
  <!-- <link href="assets/vendor/venobox/venobox.css" rel="stylesheet"> -->
  <!-- <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet"> -->
  <!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="{{ url_for ('static', filename='css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage - v2.1.0
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="{{url_for ('index')}}">Petaniku</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        
      </nav><!-- .nav-menu -->

      <a href="#pricing" class="get-started-btn scrollto">Ayo Mulai</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Irigasi</h2>
          <ol>
            <li><a href="{{url_for ('index')}}">Home</a></li>
            <li>Irigasi</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->


  <main id="main">

    <!-- ======= About Section ======= -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Irigasi</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-4 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-blue ">
              <h4><a href="">Ketinggian Air</a></h4>
              <h4>1,049 %</h4>
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                </svg>
                <i class="bx bx-water"></i>
              </div>
              <!-- <h4><a href="">Ketinggian Air</a></h4> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-4 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <h4><a href="">Kelembaban Tanah</a></h4>
              <h4>1,049 %</h4>
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                </svg>
                <i class="bx bx-tachometer"></i>
              </div>
<!--               <h4><a href="">Kelembaban Tanah</a></h4> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-4 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange">
              <h4><a href="">Suhu</a></h4>
              <h4>1,049 %</h4>
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
                </svg>
                <i class="bx bx-tachometer"></i>
              </div>
              <!-- <h4><a href="">Suhu</a></h4> -->
            </div>
          </div><br>
          <br>

          <div class="box">
            <div class="btn-wrap">
              <a href="{{ url_for ('details') }}" class="btn-buy">Details</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Sevices Section -->

    <!-- Presiksi -->
     <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row">
          
          <div class="col-lg-12 col-md-12" data-aos="zoom-im" data-aos-delay="100">
            <div class="box">
              <div class="btn-wrap">
                  <a href="#" class="btn-buy">Prediksi</a>
              </div>
              <h3>Ketinggian Air : 20</h3>
              <h3>Kelembaban Tanah : 98%</h3>
              <h3>Pompa Akan Menyala Selama : 3 Jam</h3>
            </div>
          </div>

        </div>

      </div>
    </section> 
    <!-- End Prediksi -->

    <!-- Pompa -->
    <section id="pricing" class="pricing ">
      <div class="container" data-aos="fade-up">

        <div class="row">
          
          <div class="col-lg-12 col-md-12" data-aos="zoom-im" data-aos-delay="100">
            <div class="box">
              <ul>
                <li><b>Status Pompa</b></li>
              </ul>
              <h3>hidup</h3>
              <div class="btn-wrap">
                  <a href="#" class="btn-buy">Hidupkan Pompa</a>
              </div>
              <div class="btn-wrap">
                  <a href="#" class="btn-buy">Matikan Pompa</a>
              </div><br>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Pompa -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Petaniku</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <!-- Vendor JS Files -->
  <script src="{{ url_for ('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='vendor/jquery.easing/jquery.easing.min.js')}}"></script>
 <!--  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script> -->

  <!-- Template Main JS File -->
  <script src="{{ url_for ('static', filename='js/main.js') }}"></script>

</body>

</html>